# не обрабатывать файлы, имя которых заканчивается на .~ и .iml
*.~
*.iml

# игнорировать все файлы в каталоге TestReport/
TestReport/
target/
.idea/
surefire/
downloads/

# игнорировать каталоги .idea
/.idea
/allure-results
/build
/downloads